<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<link rel="stylesheet" th:href="@{/app.css}"/>
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

</head>

<body>
<nav>
    <ul>
        <li><a href="/" class="pull-left">
            <img src="/images/logo.jpeg" alt="logo" class="homelogo"></a></li>
        <li><a href="/foodmenu">Food Menu</a></li>
        <li><a href="/drinkmenu">Drink Menu</a></li>
        <li><a href="/contactus">Contact Us</a></li>
        <li><a href="/reservations">Reservations</a></li>
    </ul>
</nav>
<h1>Contact Us</h1>
<div style="margin-left:1500px;">
    <img class="social"
         src="https://e7.pngegg.com/pngimages/921/1023/png-clipart-facebook-twitter-and-instagram-logo-social-media-facebook-computer-icons-social-networking-service-like-us-on-facebook-text-logo.png"
         alt="social logo"/>
</div>
<div style="text-align: center">
    <img src="https://www.w3schools.com/w3css/map.jpg" alt="map" style="width:25%">
    <p>We're located at the corner of 5th and Main in Berkley, MI</p>
    <p>We offer catering for your event big or small (within 25 miles)</p>
    <p>Call us at 813-555-5555 or Email us at wilkswingshop.com</p>
    <p>We look forward to seeing you soon!</p>
</div>
<h1>Hours</h1>
<div class="row ">
    <div class="half">
        <p>Mon 11:00AM - 12:00AM</p>
        <p>Tue &amp Wed 11:00AM - 2:00PM --LUNCH ONLY--</p>
        <p>Thurs 11:00AM - 12:00AM --Live Music 7:00PM-10:00PM--</p>
    </div>
    <div class="half">
        <p>Fri 11:00AM - 2:00AM --Live Music 7:00PM-11:00PM--</p>
        <p>Sat 10:00AM - 2:00AM Live Music 3PM-11:00PM--</p>
        <p>Sun 10:00AM - 10:00PM </p>
    </div>
</div>
<div class="footer">
    <footer>
        <p style="color:white"> Made by Collin-Wilkins</p>
    </footer>
</div>
</body>
</html>